/*
Used Breakpoints:
(mostly like bootstrap)
< 349px
>= 350px and < 399px
>= 400px and < 575px
>= 576px and < 767px
>= 768px and < 991px
>= 992px and < 1199px
>= 1200px
*/

@import '../../global-styles.scss';

:host {
  display: block;
}

.level {
  display: grid;
  margin: 30px;
  color: #007bff;
  justify-content: center;
  @media (max-width: 399px) {
    margin-top: 22%;
    font-size: 1.5rem;
  }
  @media (min-width: 400px) and (max-width: 575px) {
    margin-top: 22%;
    font-size: 1.8rem;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    margin-top: 18%;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 15%;
  }
  @media (min-width: 992px) {
    margin-top: 10%;
  }
}

.table {
  margin: auto;
  margin-top: 8vh;
  width: 66vw;
  
  @media (max-width: 349px) {
    font-size: 0.6rem;
  }
  @media (min-width: 350px) and (max-width: 399px) {
    font-size: 0.7rem;
  }
  @media (min-width: 400px) and (max-width: 767px) {
    font-size: 0.8rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  
  tr:first-child {
    background-color: #D4AF37;
    
    th,
    td {
      background-color: #D4AF37;
      color: black;
    }
  }
  
  tr:nth-child(2) {
    background-color: #C0C0C0;
    
    th,
    td {
      background-color: #C0C0C0;
      color: black;
    }
  }
  
  tr:nth-child(3) {
    background-color: #CD7F32;
    
    th,
    td {
      background-color: #CD7F32;
      color: black;
    }
  }
}

.no-score {
  text-align: center;
  margin: auto;
  margin-top: 8vh;
  display: table;
}
