<div class="bar header">
  <button class="btn btn-outline-primary" title="Menu" (click)="showMenu()">Menu</button>
  <h1 class="title">High Score</h1>
  <div>
    <button class="btn btn-outline-primary" title="Previous Level" (click)="previous()">Prev</button>
    <button class="btn btn-outline-primary" title="Next Level" (click)="next()">Next</button>
  </div>
</div>

<h2 class="level">{{ level.name }}</h2>
<table *ngIf="entries.length > 0" class="table table-dark">
  <thead class="thead-dark">
    <th scope="col">Rank</th>
    <th scope="col">Name</th>
    <th scope="col">Moves</th>
    <th scope="col">Time</th>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ entry.name }}</td>
      <td>{{ entry.moves }}</td>
      <td>{{ entry.levelTime | date: 'mm:ss' }}</td>
    </tr>
  </tbody>
</table>
<span *ngIf="entries.length === 0" class="no-score">Level not completed</span>
