<div class="content">
  <!-- Header Section -->
  <div class="bar header row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
    <div class="header-button-wrapper menu-wrapper col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1">
      <a class="btn btn-block btn-outline-primary" (click)="showMenu()">Menu</a>
    </div>
    <span *ngIf="windowWidth > 767"
      class="level-number col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">{{level.setName}} -
      {{ level.name }}</span>
    <span *ngIf="windowWidth <= 767"
      class="level-number col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">{{level.shortSetName}} -
      {{ level.name }}</span>
    <div class="header-button-wrapper wrapper-right col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 row">
      <div class="prev-level-wrapper col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <button class="btn btn-block btn-outline-primary" title="Previous Level" (click)="previous()">Prev</button>
      </div>
      <div class="next-level-wrapper col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <button class="btn btn-block btn-outline-primary" title="Next Level" (click)="next()">Next</button>
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
  </div>
  <!-- Content Section -->
  <div class="scroll-wrapper" [ngClass]="centerContent ? 'level-center' : 'level-left'" (pinchin)="onPinch('IN')"
    (pinchout)="onPinch('OUT')">
    <div class="level-wrapper" [style.transform]="'scale(' + scaleValue + ')'"
      [ngClass]="centerContent ? 'level-center-origin' : 'level-left-origin'">
      <div class="level-row" *ngFor="let row of level.tiles; index as y">
        <app-tile *ngFor="let tile of row; index as x" [tile]="tile" [isCursorHere]="isCursorHere(x, y)" [isWin]="isWin"
          (click)="moveToClick(tile, x, y)">
        </app-tile>
      </div>
    </div>
  </div>
  <span class="win-span" *ngIf="isWin">Well done, YOU WIN!</span>
  <!-- Footer Section -->
  <div class="bar footer row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
    <div class="footer-button-wrapper col col-sm-2 col-md-2 col-lg-2 col-xl-1">
      <button class="btn btn-block btn-outline-primary" title="Undo" (click)="undo()"
        [disabled]="!history.length">Undo</button>
    </div>
    <span
      class="footer-span level-time col col-sm-auto col-md-auto col-lg-auto col-xl-auto">{{ levelTime | date: 'mm:ss' }}</span>
    <span class="footer-span movement-counter col col-sm-auto col-md-auto col-lg-auto col-xl-auto">{{ counter }}</span>
    <div class="footer-button-wrapper col col-sm-2 col-md-2 col-lg-2 col-xl-1">
      <button class="btn btn-block btn-outline-primary" title="Reset" (click)="reset()">Reset</button>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
  </div>
</div>