div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.box {
  background: url('../../assets/svg/box.svg');
}

.floor {
  background: transparent;
}

.wall {
  background: url('../../assets/svg/wall.svg');
}

.target {
  background: url('../../assets/svg/target.svg');
}

.targetWithBox {
  background: url('../../assets/svg/box_in_target.svg');
}

.cursor {
  background: url('../../assets/svg/player.svg');
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 2;
  &.win {
    background: url('../../assets/svg/player_win_glasses.svg');
    background-size: cover;
    height: 40px;
    width: 40px;
    z-index: 2;
  }
}

.cursor:hover:not(.win) {
  background: url('../../assets/svg/player_wink.svg');
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 2;
}
