<div class="content">
  <div class="header">
    <button class="btn btn-outline-primary" title="Previous Level" (click)="previous()">Previous</button>
    <span>{{level.name}}</span>
    <button class="btn btn-outline-primary" title="Next Level" (click)="next()">Next</button>
  </div>
  <div class="level">
    <div class="level-row" *ngFor="let row of level.tiles; index as y">
      <app-tile *ngFor="let tile of row; index as x" [tile]="tile" [isCursorHere]="isCursorHere(x, y)" [isWin]="isWin">
      </app-tile>
    </div>
  </div>
  <span *ngIf="isWin">Well done, YOU WIN!</span>
  <div class="header">
    <button class="btn btn-outline-primary" title="Undo" (click)="undo()" [disabled]="!history.length">Undo</button>
    <span>Moves: {{counter}}</span>
    <button class="btn btn-outline-primary" title="Reset" (click)="reset()">Reset</button>
  </div>
</div>
