.content {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: #ffffff;
}

.level {
  // display: inline-grid;
}

.level-row{
  display: flex;
  // justify-content: center;
}

.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100vw - 20px);
  .btn {
    margin: 3px;
  }
}

.header-span {
  min-width: 170px;
}

.header {
  margin-bottom: 20px;
  font-size: 15pt;
}

.footer {
  margin-top: 20px;
}
