/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Retro';
  src: url(./assets/barcade-brawl.ttf) format('truetype');
}

* {
  font-family: 'Retro';
  background-color: #000000;
}